{% extends "index.html" %}

{% block navright %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Welcome, {{ user.first_name }}!</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">Log Out</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}

    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="text-uppercase mb-0">Hiring Manager Dashboard</h1><br><br>
            <table class="turqtext footer table rounded">
                <tr><strong>
                    <td><strong>
                        Name
                    </strong></td>
                    <td><strong>
                        Resume
                    </strong></td>
                    <td><strong>
                        CV
                    </strong></td>
                    <td><strong>
                        Contact
                    </strong></td>
                </tr></strong>
                {% for user in PE %}
                <tr>
                    <td>
                        {{user.first_name}} {{user.last_name}}
                    </td>
                    <td>
                        PLACEHOLDER
                    </td>
                    <td>
                        PLACEHOLDER
                    </td>
                    <td>
                        <a class="rounded" href="mailto:{{user.email}}">{{user.email}}</a> 
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </header>

{% endblock %}